body {
    margin: 0;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 152.2%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */

  @font-face {
    font-family: "Red Hat Display";   /*Can be any text*/
    src: local("RedHatDisplay-Regular"),
      url("./fonts/RedHatDisplay-Regular.ttf") format("truetype");
  }